section {
    width: 1000px !important;
    background-color: ivory;
    height: 650px;
}

.top {
    vertical-align: center;
    padding: 1px;
    margin-top: 0px;
    text-align: center;
    height: 30px;
    width: 1000px;
    border: solid 1px;
    color: white;
    font-weight: bold;
    background-color: #353535;
    border: solid 1px;
    border-color: #353535;
}


.wrap{
    font-weight: bold;
    position: relative;
}

.payment {
    padding: 10px;
}

.data img {
    float: left;
}

.data > h2 {
    margin-top: 20px ;
    display: inline-block;
    
}

.data > p {
    font-size: 12px;
}

form {
    font-size: 12px;
   
}

#discountDiv > p {
    font-size: 12px;
}

button {
    height: 40px;
    width: 70px;
    background-color:#FAAC58;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}


