section {
    width: 1000px !important;
    background-color: ivory;
    height: 650px;
}

.top {
    font-size:35px;
    margin : 0;
    height: 60px;
    background-color: #333333;
    color: #7F7F7F;
    text-align: center;
    clear: both;
    padding-top: 20px;
}


.wrap{
    font-weight: bold;
    position: relative;
}

.payment {
    padding: 10px;
}

.data img {
    float: left;
}

.data > h2 {
    margin-top: 20px ;
    display: inline-block;
    
}

.data > p {
    font-size: 12px;
}

form {
    font-size: 12px;
}

form button {
    margin: 30px 90px 0px 0px;
    float: right;
}

#discountDiv > p {
    font-size: 12px;
}

button {
    height: 40px;
    width: 70px;
    background-color:#FAAC58;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}


