.wrap{
    padding: 40px calc( (100% - 500px)/2);
    width: 400px;
    overflow: hidden;
    margin: 0px auto;
    min-width: 900px;
}

.title {
    font-size: 15pt;
    margin : 0;
    height: 60px;
    background-color: rgb(255, 255, 253);
    text-align: left;
    clear: both;
    line-height: 60px;
    border-bottom: rgb(202, 202, 202) 1px solid;
    border-top: black 3px solid;
    padding-left: 20px;
    width: 480px;
}
.title h1{
    margin : 0;
    font-weight: 400;
} 

.wrap > div:not(:first-child) {
    width: 360px;
    background-color: #EDEDEF;
    padding: 30px 70px;
}

.wrap > div div {
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.wrap > div div p {
    font-family: 'Lora';
    font-size: 20px;
    margin-right: 15px;
    margin: 0px 0px 15px 0px;
    font-weight: bold;
    clear: both;
}

.wrap > div div div {
    width: 120px;
    display: inline-block;
    float: left;
}

.wrap > div div div p {
    font-weight: normal;
    font-size: 17px;
    display: inline-block;
}

.wrap > div div div input {
    display: inline-block;
    background-color: #D5D5D5;
}
.submit {
    padding: 40px 0px;
    background-color: #212121;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.submit > div:nth-child(3) {
    cursor: pointer;
    color: white;
    background-color: #555;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    border-radius: 10px;
    border: white solid 2px;
    padding: 15px;
    text-decoration: underline;
    text-decoration-color: white;
}

.submit > div:nth-child(odd):not(:nth-child(3)) {
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding: 15px;
}

.submit > div:nth-child(even) {
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding: 15px;
}