section {

    padding: 40px 0px;
}

section div {
    margin: auto;
    width: 400px;
    height: 600px;
    background: lightgray;
    opacity: 0.8;
    text-align: center;

}

section div p {
    display: inline-block;
}

section div input {
    display: inline-block;
}