.cancel {
    width: 800px;
    height: 700px;
}

.top > p{
    vertical-align: center;
    padding: 1px;
    margin-top: 0px;
    width: 767px;
    height: 40px;
    border: solid 1px;
    border-color: #353535;
    color: white;
    font-weight: bold;
    background-color: #353535;
    padding-top: 10px;
    padding-left: 30px;
}

.succeed {
    padding: 50px;
    display: inline-block;
    margin-left: 90px;
    color: #353535;
}

.information {
    padding: 50px;
    display: inline-block;
    color: #353535;
}

.home {
    border: solid 0px;
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 15px;
    background-color: #353535;
    color: ivory;
    text-decoration: none;
    font-weight: bold;
}

.home_div {
    margin-left: 40%;
}

.home >a{
    text-decoration: none;
}
