.ticketing_choice {

    text-align: center;
    padding: 5px;

    vertical-align: middle;
}

.info_movie {
    vertical-align: middle;
    padding: 30px;
    color: white;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-right: solid 2px;
    border-color: #5D5D5D;
    border-radius: 1px;
}

.info_theater {
    vertical-align: middle;
    padding: 30px;
    color: white;
    height: 50px;
    display: inline-block;
    border-right: solid 2px;
    border-color: #5D5D5D;
    border-radius: 1px;
}

.info_path {
    height: 100%;
    display: inline-block;
    border-right: solid 1px;
    vertical-align: middle;
}

.choice {
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.choice>p {
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    border: solid 3px;
    border-radius: 20px;
    padding: 15px;
    height: 60px;
    background-color: #353535;
    cursor: pointer;
}

.step2 {
    font-size: 40px;
    padding: 30px;
    color: white;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.step3 {
    font-size: 50px;
    padding: 20px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.choice_section {
    background-color: #212121;
    width: 100%;
    height: 170px;
    vertical-align: middle;
    font-weight: bold;
}