main {
	position: relative;
	padding-top: 60px;
	margin-left: 300px; 
}

article{
	border: 2px solid #E6E6E6;
	overflow: hidden;
	background-color: white;
	width: 1000px;
}

table {
	width: 100%;
	border-collapse: collapse; 
	text-align: center;
}

table th {
	border-bottom: 2px solid #E6E6E6;
	border-right: 1.5px solid #F2F2F2;
	padding: 10px 0px 10px 10px;
}

table td {
	height: 20px;
	border-bottom: 1.5px solid #F2F2F2;
	border-right: 1.5px solid #F2F2F2;
	padding: 10px 0px 10px 10px;	
}