html, body {
    height: 100%;
    margin: 0;
    background-color: #f2f2f22f;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    min-width: 1111px;
    position: fixed;
    color: white;
    background-color: rgb(250, 172, 88);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

header h1 {
    position: fixed;
    left: 60px;
    line-height: 50px;
    margin: 0px;
    width: 100px;
}

header p {
    position: fixed;
    right: 30px;
    line-height: 22px;
    font-weight: 500;
}

header a:link { color:white; text-decoration: none;}
header a:visited { color: white; text-decoration: none;}