html, body {
    height: 100%;
    margin: 0;
}

header {
    min-width: 1111px;
    position: fixed;
    color: white;
    background-color: #FAAC58;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 3.5px rgb(174, 176, 167);
    z-index: 20;
}

header h1 {
    position: relative;
    left: 20px;
    line-height: 60px;
    margin: 0;
}

header p {
    position: relative;
    margin: 0;
    top: -45px;
    left: 1380px;
}

nav {
    height: 100%;
    background-color: #FAFAFA;
    width: 250px;
    position: fixed;
    top: 50px;
    color: gray;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: none;
    box-shadow: 1px 1px 3.5px rgb(174, 176, 167);
}

nav img {
    width: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

nav ul ul {
    list-style: none;
    display: none;
}

nav ul {
    list-style: none;
    display: inline;
}

nav ul li:hover > ul {
    
    display: block;
}

nav a:link { color: gray; text-decoration: none;}
nav a:visited { color: gray; text-decoration: none;}

nav a:hover { 
    color: gray; text-decoration: underline;
    -webkit-transform: translate(100px, 50px);
    -ms-transform: translate(100px, 50px);
    transform: translate(100px, 50px);
}