html, body {
    height: 100%;
    margin: 0;
    background-color: #f2f2f22f;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-width: 1111px;
    color: white;
    background-color: rgb(250, 172, 88);
    width: 100%;
    height: 60px;
}

header img {
    margin: 12px 0px 8px 50px;
    width: 100px;
}

header div {
    /* line-height: 22px; */
    margin: 5px 0px;
    font-weight: 500;
    display: flex;
    float: right;
}

header p {
    margin: 14px 0px;
}

header .button {
    border: 1.2px solid #fff;
    border-radius: 5px;
    background-color:#fff;
    color: rgb(250, 172, 88);
    transition: all 0.25s ease-in-out;
    width: 120px;
    height: 35px;
    font-size: 20px;
    margin: 7px 10px;
}

header .button:hover {
    color:#fff;
    background: none;
}



header a:link { color:white; text-decoration: none;}
header a:visited { color: white; text-decoration: none;}