section {
    min-width: 600px;
    width: 30px;
}

.wrap {
    text-align: center;
}

.top {
    font-size:20px;
    line-height: 60px;
    margin : 0;
    height: 60px;
    background-color: #333333;
    color: white;
    text-align: center;
    clear: both;
}

.top h1 {
    margin: 0px;
    font-weight: 400;
}

.detail {
    width: 80%;
    margin: 50px auto;
}
.succeed {
    text-align: center;
    font-size: 20px;
    width: 35%;
    display: inline-block;
    margin-right: 8%;
}

.succeed p {
    margin: 20px 0px;
    height: 25px;
    font-weight: bold;
}

.information {
    text-align: center;
    font-size: 20px;
    width: 55%;
    display: inline-block;
}

.information p {
    margin: 20px 0px;
    height: 25px;
    font-weight: bold;
}

.cancel_reserve {
    text-align: center;
}

.cancel_reserve h2 {
    margin: 0px;
}

.wrap button {
    border-radius: 10px;
    cursor: pointer;
    margin: 40px 0px;
    padding: 10px 20px;
    font-size: 20px;
    background: black;
    color: white;
    border: white 2px solid;
    margin: 10px 0px;
}

.wrap button:hover {
    border-radius: 10px;
    cursor: pointer;
    margin: 40px 0px;
    padding: 10px 20px;
    font-size: 20px;
    background: white;
    color: black;
    border: black 2px solid;
    margin: 10px 0px;
}