section {
    min-width: 700px;
    width: 700px;
    padding: 30px;
    text-align: center;
}

section p {
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: bold;
}

section input {
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

section button {
    vertical-align: middle;
    display: inline;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    background: black;
    color: white;
    border: white 2px solid;
    margin: 10px 0px;
}

section button:hover {
    border-radius: 10px;
    cursor: pointer;
    margin: 40px 0px;
    padding: 10px 20px;
    font-size: 20px;
    background: white;
    color: black;
    border: black 2px solid;
    margin: 10px 0px;
}